In [13]:
high = 1
low = 12
increment = 3

x = list(range(high,low)) # Takes the range to a list
y = list(range(high,low,increment))

print(x, y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] [1, 4, 7, 10]

In [14]:
for i in range(1,11) :
    # print("*") # Default new line is applied
    print("*",end="")

**********

In [17]:
sum = 0
for x in [1,2,3,4,5]:
    sum += x
    print(x, sum)
else: 
    # When break statement is used within the loop then this wont be executed. This blocks executes if the loops runs smoothly
    print(sum)

1 1
2 3
3 6
4 10
5 15
15

In [27]:
# 1! = 1
# 2! = 1 x 2
# 3! = 1 x 2 x 3
# 4! = 1 x 2 x 3 x 4

number = int(input("Enter number to find factorial :"))
fact = 1
fact_range = range(fact, number+1) #This is needs to be done or the elements generated in range is one less than expected
print(list(fact_range))

for number in fact_range:
    fact *= number
else:
    print("Factorial : ", fact)

Enter number to find factorial :3
[1, 2, 3]
Factorial :  6

In [55]:
for j in range(1,6):
    print("") #This implicitly has a new line, not like othe languages, so no need to mention a \n in the statement
    for i in range(1,6):
        print("*", end="")

*****
*****
*****
*****
*****

In [54]:
for j in range(1,6):
    for i in range(j,6):
        print("*", end="")
    print("")
    
for j in range(1,6):
    for i in range(1,j+1): # Again here the maximum should be plus 1
        print("*", end="")
    print("")

*****
****
***
**
*
*
**
***
****
*****

In [56]:
for j in range(1,7):
    for i in range(1,7-j):
        print("*", end="")
    print("")

*****
****
***
**
*

In [74]:
# 1 - 1
# 2 - 3
# 3 - 5
# n - 2n-1

for j in range(1,7):
    for y in range(7,j,-1): # a negative step to be used to decrement at each row.
        print(" ",end="")
    for x in range(0,2*j-1):
        print("*",end ="")
    print("")

      *
     ***
    *****
   *******
  *********
 ***********

In [79]:
a = 0; b = 5
while a < b:
    print(a)
    '''
    if(a == 3):
    break
    '''
    a += 1
else:
    print("Loop end") # if a break statement is used in the loop this block wont be hit

0
1
2
3
4
Loop end

In [83]:
'''
TODO -- Try this later
for j in range(1,7):
    for y in range(7,j,-1): # a negative step to be used to decrement at each row.
        print(" ",end="")
    for x in range(0,2*j-1):
        print("*",end ="")
    print("")
Do this in while loop below

a = 1 ; b = 7
while a < b : # Row loop
    while 
    print("*",end ="")
    while 
    a += 1
'''

'\nTODO -- Try this later\nfor j in range(1,7):\n    for y in range(7,j,-1): # a negative step to be used to decrement at each row.\n        print(" ",end="")\n    for x in range(0,2*j-1):\n        print("*",end ="")\n    print("")\nDo this in while loop\n\na = 1 ; b = 7\nwhile a < b : # Row loop\n    while \n    print("*",end ="")\n    while \n    a += 1\n'

In [89]:
print(list(range(2,10)))

for n in range(2,10):
    for x in range(2,n):
        if n%x ==0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        # Loop fell though without finding a factor
        print(n,"is prime")

[2, 3, 4, 5, 6, 7, 8, 9]
2 is prime
3 is prime
4 equals 2 * 2.0
5 is prime
6 equals 2 * 3.0
7 is prime
8 equals 2 * 4.0
9 equals 3 * 3.0

In [96]:
# Find the largest Prime. Break when the largest prime is found.
m = int(input("Enter number : "))

for n in range(m, 1, -1):
    for x in range(2,n):
        if n%x ==0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        # Loop fell though without finding a factor
        print(n,"is the largest prime")
        break

Enter number : 5
5 is the largest prime

In [99]:
S = [(1,2), (3,4), (7,8)]
for (x,y) in S:
    print([x,y], end="")

[1, 2][3, 4][7, 8]

In [119]:
# Ref : https://www.w3schools.com/python/default.asp
# https://www.w3schools.com/datascience/default.asp
# https://www.w3schools.com/

sample_string = "AAAA" # Can use 'FooBar' , '''FooBar''' as well
print(sample_string)

print(type(sample_string)) # Data type of the variable

sample_string = "FooBar "*3
print(sample_string)

x = sample_string[3] # Gives B, string could be accessed as an array
print(x)

# Slicing
x = "Computer"
# Similar to substring but what this does is ets part of a list/array. Here starts from index 1 and upto (4-1) index
print(x[1:4])
print(x[3:])
print(x[:5]) # From start to index (5-1)
# First from right side. list/arrays could be accessed from left-> right and right -> left. This is from right to left.
print(x[-1])
print(x[-3])
print(x[:-2]) # From 0 index to -2-> (-2-1 = -3) => So gets 0 upto -3 characters Comput
print(x[1:6:2]) # A step is added (here its 2) 

y = 'horse'+'shoe'
print(y)

z =",".join(["Foo","Bar"])
print(z) # join function to concat string with a special character

#Split
print(z.split()) # A character is not defined as to from where it should be split. See below
print(z.split(","))

AAAA
<class 'str'>
FooBar FooBar FooBar
B
omp
puter
Compu
r
t
Comput
opt
horseshoe
Foo,Bar
['Foo,Bar']
['Foo', 'Bar']

In [127]:
'''
Logic -
https://srilanka-information-zone.blogspot.com/p/sri-lankan-national-identity-card-nic.html#:~:text=First%20two%20digits%20(79)%20represent,500%2C%20NIC%20holder%20is%20female.
Example :
NIC - 842587913V
'''
nic = input("NIC number:")
factor = nic[2:5]
if int(factor) < 500:
    print("Male")
else:
    print("Female")

NIC number:842587913V
Male

In [137]:
# Checking the availability of elements in an array/list
UNI = "University Of Sri Jayawardenepura"

print('u' in UNI) # u is found in the string UNI
print('X' not in UNI)
print('o' in UNI) # Case sensitive, no o in the text but there is O
print("Uni" in UNI)
print("uni" in UNI) # Case sensitive, no uni in the text but there is Uni

# Start or End with a substring
print(UNI.startswith('University'))
print(UNI.endswith('Jayawardenepura ')) # Since there is an additional white space at the end

True
True
False
True
False
True
False

In [142]:
# Find
name = "University Of Sri Jayawardenepura"

print(name.find('e')) # Returns the index of first occurrence
# Finds from right to left BUT position is given from left to right index start so its 28 not a minus value
print(name.rfind('e'))

print(name.find('sri')) # No substring sri found so returns -1
print(name.find('Sri'))

print(name.count('e')) # 3 'e' s found

4
28
-1
14
3

In [149]:
'''
TODO Hint - Access the array with the index directly and match them
'''
# Plindrome
palindrome = input("Enter palindrome number :")
length_of_palindrome = len(palindrome)

for i in range(length_of_palindrome) :
    if i == length_of_palindrome/2 :
        break
else:
    print("X")

Enter palindrome number :45

In [157]:
name = "University Of Sri Jayawardenepura"
name = name.replace('Sri', 'RRR')
print(name)

# islower(), isupper(), istitle(), isalnum(), isalpha(), isnumeric(), isdigit(), isdecimal()
print(name.islower())
print("university".islower())

print("23123sfdfasdfs".isalnum())
print("23123sfdfasdfs".isalpha())

print("3".isdecimal())
print("3.1246".isdecimal())

University Of RRR Jayawardenepura
False
True
True
False
True
False

In [165]:
# Getting all available characters of a given set
import string

print(string.digits)
print(string.punctuation)
print(string.ascii_lowercase)
print(string.ascii_uppercase)

0123456789
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [171]:
# lower(), upper(), title(), capitalized()
# TODO -- Do some samples

# Strip - Trimming the string of white spaces
# lstrip(), rstrip(), strip()

name = " University Of Sri Jayawardenepura "
print(name.strip()+".")
print(name.lstrip()+".")
print(name.rstrip()+".")

# Min & Max - Minimun and Maximum characeter (highest and lowest ascii value)
name = "University"
print(min(name))
print(max(name)) # The numeric equivalent of the character in ascii is checked for min max not alphabetical order

University Of Sri Jayawardenepura.
University Of Sri Jayawardenepura .
 University Of Sri Jayawardenepura.
U
y

In [173]:
# Sorting
name = " University Of Sri Jayawardenepura "
print(sorted(name)) # Sorted according to numeric value of the ascii character

[' ', ' ', ' ', ' ', ' ', 'J', 'O', 'S', 'U', 'a', 'a', 'a', 'a', 'd', 'e', 'e', 'e', 'f', 'i', 'i', 'i', 'n', 'n', 'p', 'r', 'r', 'r', 'r', 's', 't', 'u', 'v', 'w', 'y', 'y']

In [178]:
# Iterating String
name ="University Of Sri Jayawardenepura"

for character in name:
    print(character,end=" ")
    
# Iterating
s =  "3 birds are sitting on 2 branches"
d = {"1":"One","2":"Two","3":"Three","4":"Four"} # Dictionary

for k,v in d.items(): # Iterating through a dictionary. The values are mapped to variables k and v individually
    s = s.replace(k,v) # String function replacing a tring with another string
    print(k,v)
print(s)

U n i v e r s i t y   O f   S r i   J a y a w a r d e n e p u r a 1 One
2 Two
3 Three
4 Four
Three birds are sitting on Two branches

In [181]:
# Tuples

x =()
x = (1,2,3)

x = 1,2,3
x = 2,     #the comma tells python that this is a tuple

print(x, type(x))

list1 = [2,4,6]
x = tuple(list1)
print(x, type(x))

(2,) <class 'tuple'>
(2, 4, 6) <class 'tuple'>

In [ ]:
# Sets

# Dictionary